body{
  font-family: 'Open Sans', sans-serif;
  color: #999;
  background: #fbfbf5;
}
.logo{
  cursor: pointer;
}
.errorMessage{
  color: red;
}
.MuiPaper-elevation4{
  box-shadow: none !important;
}

