body{
  font-family: 'Open Sans', sans-serif;
  color: #999;
  background: #fbfbf5;
}
.logoArea{
  width:80%;
  padding-left: 10%;
  text-align: center;
}
.logo{
  cursor: pointer;
}
.errorMessage{
  color: red;
}
.MuiPaper-elevation4{
  box-shadow: none !important;
}
.u-text__headline{
  color: #999;
}
.makeStyles-menuBar-2{
  background: #fbfbf5 !important;
}