.confirmSection{
  display: flex;
  width: 100vw;
  .leftSection{
    width: 80%;
    h2{
      text-align: center;
    }
  }
  .detailBox{
    margin: 0 auto 30px;
    width: 60%;
  }
  .payment{
    margin: 0 auto;
    width: 60%;

  }
  .paymentMethod{
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .buttonArea{
    width: 100%;
    
    margin: 0 auto;
    .confirmedButton{
      margin-left: 50px;
      margin: 0 auto;
      text-align: center;
      width: 200px;
      height: 50px;
      font-size: 13px;
      cursor: pointer;
      border: 1px solid #dfdfdf;
      color: #fff;
      background:#4d4d4d;
      &:hover {
        background: #dfdfdf;
        border: 1px solid #4d4d4d;
        color: #4d4d4d;
      }
    }
  }

  .orderBox{
    background: #FCFFFF;
  }
}